[Unit]
Description=OnlineFinder service
Requires=docker.service
After=docker.service

[Service]
Restart=on-failure

Environment=ONLINEFINDER_DOCKERCOMPOSEFILE=docker-compose.yaml

WorkingDirectory=/usr/local/onlinefinder-docker
ExecStart=/usr/local/bin/docker compose -f ${ONLINEFINDER_DOCKERCOMPOSEFILE} up --remove-orphans
ExecStop=/usr/local/bin/docker compose -f ${ONLINEFINDER_DOCKERCOMPOSEFILE} down

[Install]
WantedBy=multi-user.target
